@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.waving {
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(20.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(20.0deg)
  }

    40% {
      transform: rotate(-4.0deg)
    }

    50% {
      transform: rotate(10.0deg)
    }

    60% {
      transform: rotate(0.0deg)
    }
  
    100% {
      transform: rotate(0.0deg)
    }
    }